*{
    /* eliminacion de espacion y margen*/
    margin: 0;
    padding: 0;
    /*tipogragia*/
    font-family: "Roboto", sans-serif;
    /*tamaño de la fuente*/
}
/* HEADER BEM en html  index.html y tinta-al-agua.html*/
.encabezado{
    background-color: #ffc0cb;
}
.encabezado__logo {
    max-height: 95px; 
    margin-right: 50px; 
  }
.encabezado__navegador__logo {
    color: #ffffff;
    text-decoration: none;
}
.encabezado__navegador{
    background-color: #ffc0cb;
}
.encabezado__navegador__links {
        color: #424242;
        text-decoration: none;
}
.encabezado .container-fluid {
    display: flex;
    align-items: center;
  }

/*MAIN BEM en html  index.html y tinta-al-agua.html*/
.contenido{
    background-image: url('../assets/background-main.jpg') ;
}
.contenido__titulo {
    text-align: center; /* Esto centra el texto del h1 horizontalmente */
    margin: 20px 0;
  }
  .contenido__titulo__subtitulo {
    text-align: center; /* Esto centra el texto del h1 horizontalmente */
    margin: 20px 0;
  }
.contenido__card{
    border: 2px solid #747474;
    
}
.contenido__card__text{
    text-align: center;
    color: #222222;
    text-decoration: none;
}
.c
/*ASIDE BEM en html  index.html y tinta-al-agua.html*/
.novedades{
    background-color: #ffc0cb ;
}
.novedades__titulo{
    color: #222222;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}
.fondorosa__titulo{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;    
}
.novedades__text{
    color: #414141;
}
/*FOOTER BEM en html  index.html y tinta-al-agua.html*/
.finalizacion {
    background-color: #ffc0cb;
}
.finalizacion__titulo{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}
.finalizacion__centrado {
    margin-top: 40px; /* Ajusta este valor según tus necesidades */
    margin-bottom: 40px; /* Ajusta este valor según tus necesidades */
  }



