.finalizacion {
    background-color: $color-principal ;
}
.finalizacion__titulo{
    text-align: center;
    color: $color-tipografias-claras;
    text-decoration: none;
}
.finalizacion__centrado {
    margin-top: 40px; /* Ajusta este valor según tus necesidades */
    margin-bottom: 40px; /* Ajusta este valor según tus necesidades */
  }