.novedades{
    background-color: $color-principal ;
}
.novedades__titulo{
    color: $tipografias-oscuras;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}
.fondorosa__titulo{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: $color-tipografias-claras;    
}
.novedades__text{
    color: $tipografias-oscuras;
}