//tipografia
$tipografia-principal: "Roboto", sans-serif ;
//colores
$color-principal:#ffc0cb ;
$color-tipografias-claras: #ffffff ;
$tipografias-oscuras:#424242;

// mapa
$titulos:(
    Principal:4rem,
    secundario:2rem,
    terciario:1.5rem,
    alaraciones:1rem,
)